/* --- General tags --- */
* {
  font-family: arial;
}

section {
  background: white;
  border: 10px solid lightgray;
  height: 300px;
  margin: 0 auto;
  width: 500px;
}

article {
  display: block;
  padding: 20px;
}

header {
  color: blue;
}


/* --- Posts --- */
.post {
  border-bottom: 2px solid lightgray;
  font-size: 110%;
}

  .profilepic, .userinfo {
    float: left;
    font-weight: bold;
    padding: 10px;
  }

  .post:after {
    clear: both;
    content: "";
    display: block;
  }

text {
  color: lightgray;
}
