/* game basics */
body {
	background: #C8F6C8;
	font-family: verdana;
	text-align: center;
}

.square {
	background: #f0f0f0;
	border: 1px solid gray;
	float: left;
	height: 20px;
	width: 20px;
}

.apple{
	background: #CC0000;
}
.snake {
	background: green;
}

.row {
	clear: both;
}

/* customizations */
#game-wrapper {
	min-width: 500;
}

.game, .showBoard, .controls {
	float: left;
	padding: 5%;
	text-align: center;
}

#curScore {
	color: green;
	font-weight: bold;
	font-size: 16px;
}

button {
	background: lightBlue;
	border: 1px solid blue;
	border-radius: 5px;
	cursor: pointer;
	font-family: verdana;
	font-size: 14px;
	min-height: 30px;
	min-width: 60px;
}

.nice-text, #num-apples, #grid-size {
	color: #CC0000;
  font-size: 14px;
  font-weight: bold;
  padding: 1px;
}

#num-apples, #grid-size {
	color: black;
	font-weight: normal;
	text-align: center;
}

label {
	font-weight: bold;
	padding: 1px
}