/* --- Reset user agent styles --- */
html, body, header, nav, ul, li, a, footer, small {
  border: 0;
  font: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

/* --- Set font --- */
* {
  font-family: arial;
}

/* --- Lists and List items --- */
ul {
  list-style-type: none;
  display: block;
}

  ul#info {
  /*  display: inline;*/
    float: left;
  }

  ul#settings {
    float:right;
  /*  display: inline;*/
  }

  .navbar ul {
    display: block;
  }

  .navbar ul li {
    display: inline;
    padding: 10px;
    float: right; 
  }


/* --- Classes --- */
.centerImage {
  padding: 100px;
  text-align: center;
}

.searchBar {
  text-align: center;
}

.searchButtons {
  display: block;
  padding: 20px;
  text-align: center;
}

.search {
  display: inline;
  padding-right: 5px;
}

.hungry {
  display: inline;
  padding-left: 5px;
}


/* --- Footer --- */
footer ul {
  background: #D8D8D8;
  color: gray;
  display: block;
  height: 75px;
  line-height: 75px;
  margin-left: 112px;
  width: 1053px;
  
  border-left: 2px solid lightgray;
  border-right: 2px solid lightgray;
  border-bottom: 2px solid lightgray;
}
