/* --- Reset user agent styles --- */
html, body, header, nav, ul, li, a, footer, small {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* --- Set font.  The default size is 16px --- */
* {
  font-family: arial;
}

/* --- Lists and list items --- */
li {
  list-style-type: none;
  text-align: center;
  width: 7.5rem;
}

  li.nestedList {
    border: 2px solid black;
    border-top: 0;
    color: black;
    width: 100%;
    z-index: 300;
  }

    li.nestedList:hover {
      background-color: gray;
    }

    li.top:hover {
      background: black;
    }

ul#top {
  font-family: arial;
  display: block;
}

.dropdown > ul {
  display: none;
  margin: .3125rem 0 0 -.4375rem;
  position: absolute;
  width: 18.75rem;
}

  .dropdown:hover ul {
    display: block;
  }

/* --- Custom classes --- */
li.top, .AAStudents, .space {
  border: 2px solid black;
  border-right: 0;
  background-color: red;
  color: white;
  float: left;
  font-size: 95%;
  height: 1.875rem;
  line-height: 1.875rem;
  padding: .3125rem;
}

.AAStudents {
  font-weight: bold;
  padding-left: 1.25rem;
  width: 31.25rem;
}

.space {
  width: 6.25rem;
}

.circle {
  background-color: black;
  border-radius: 50%;
  color: white;
  float: right;
  font-size: .8125rem;
  height: 1.125rem;
  line-height: 1.25rem;
  width: 1.125rem;
}