/* --- Reset user agent styles --- */
html, body, header, nav, ul, li, a, footer, small {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
/* --- Set basic html elements --- */

* {
  font-family: arial;
}

li {
  width: 120px;
  text-align: center;
}

ul {
  list-style-type: none;
}

.dropdown > ul {
  display: none;
  margin-top: 5px;
  margin-left: -7px;
  position: absolute;
  width: 300px;
}

.dropdown:hover ul {
  display: block;
}

li.nestedList {
  color: black;
  width: 100%;
  margin: 0px;
  z-index: 300;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}

li.nestedList:hover {
  background-color: gray;
}

ul#top {
  display: block;
  margin: 0px;
  padding: 0px;
}

li.top:hover {
  background: black;
}



li.top, .AAStudents, .space {
  background: red;
  color: white;
  font-size: 95%;
  float: left;
  height: 30px;
  line-height: 30px;
  padding: 5px;
  
  border-left: 2px solid black;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.AAStudents {
  font-weight: bold;
  width: 500px;
  padding-left: 20px;
  
}

.space {
/*  border-right: 2px solid black;*/
  width: 100px;
}

.circle {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  font-size: 13px;
  color: white;
  line-height: 20px;
  text-align: center;
  float: right;
  background: black;
}


.main {
  margin: 0px;
  display: block;
  margin-left: 112px;
  margin-bottom: -54px;
  width: 1053px;
  height: 500px;
  border-left: 2px solid lightgray;
  border-right: 2px solid lightgray;
  border-bottom: 2px solid lightgray;
}

.content, .sidebar {
  float: left;
  width: 600px;
  padding: 25px;
  margin-top: 20px;
}

.sidebar {
  width: 275px;
  border-right: 2px solid lightgray;   
}

footer {
  background: #D8D8D8;
  display: block;
  height: 75px;
  line-height: 75px;
  margin-left: 112px;
  width: 1053px;
  color: gray;
  
  border-left: 2px solid lightgray;
  border-right: 2px solid lightgray;
  border-bottom: 2px solid lightgray;
}

.copyright {
  float: left;
  padding-left: 25px;
}

ul#links {
  float :right;
  font-family: Arial;
}

li#links {
  float: left;
  margin-left: -30px;
}






